---
layout: base.njk
---
        
<img class="img-about-me" src="/img/andrea_and_noah.jpg" alt="andrea with baby noah">
<h1>hey! i'm andrea.</h1>
<p>I'm an Atlanta-based (soon to be New York-based!) software engineer and amateur writer. </p>
<p>I’ve been a fullstack engineer for a little over five years. 
I love working on impactful projects that combine thoughtful design with development, 
and I’m looking to dive deeper into work within the tech for good sector. 
</p> 

<p>I hope to use this little corner of the internet to explore my interets in 
  the balance of motherhood and modern life, 
  and walking in faith and hope in an increasingly hopeless landscape.</p>
<p>When I'm not thinking about software or writing, I'm chasing after my toddler, 
  Noah, and spending time with my husband, Michael, and our two mini aussies. 
  Our journey is taking us to New York later this year for Michael to pursue seminary 
  and I hope to write about our experiences there.
  
  
  
  
  
  </p>