---
layout: base.njk
---
        
<img class="img-about-me" src="/img/IMG_1605.jpeg" alt="andrea with baby noah">
<h1>hey! i'm andrea.</h1>
<p>I'm an Atlanta-based (soon to be New York-based!) software engineer and writer. </p>
<p>I hope to use this little corner of the internet to explore my interests in 
  the balance of motherhood and modern life, walking in faith in an increasingly hopeless landscape, 
  and the importance of sitting in uncertainty and tension.</p>
<p>When I'm not thinking about software or writing, I'm chasing after my toddler, 
  Noah, and spending time with my husband, Michael, and our two mini Aussies. 
  I also enjoy weight lifting, trail running, reading, and cooking. 
  And one day, I’m going to get back into embroidery and finish the last 
  few threads on my hanging plant hoop! </p>
