---
layout: base.njk
---
        
<img class="img-about-me" src="/img/andrea_and_noah.jpg" alt="andrea with baby noah">
<p>Hey!</p>
<p>My name is Andrea Uhr. I'm an Atlanta-based software engineer, writer, and mom.</p>
<p>This site is under construction, please come back!</p>